.content {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-family: serif;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}


/*Модифицирую меню*/
#menu {
  width: 15%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 10px;
}